# BACKEND ENVIRONMENT VARIABLES (Vercel)
DATABASE_URL=postgresql://user:pass@host/db?sslmode=require
JWT_SECRET=your_random_secret_here
CLOUDINARY_CLOUD_NAME=djsgachpd
CLOUDINARY_API_KEY=878523218365883
CLOUDINARY_API_SECRET=npoG3AqRhj2u8KAhFxmMzc3i67s
# APP_URL should be your FRONTEND Vercel URL
APP_URL=https://santri-dana-ku.vercel.app
